

params {
  // Species of interest for UPSC
  genomes {
    'piceaAbies' {
      fasta       = ""
      bwa         = ""
      bowtie2     = ""
      star        = ""
      bismark     = ""
      gtf         = ""
      bed12       = ""
    }
    'poTra' {
      fasta       = ""
      bwa         = ""
      bowtie2     = ""
      star        = ""
      gtf         = ""
      bed12       = ""
    }
  }
}
