

params {

  config_profile_name = 'UPSC profile'
  config_profile_description = 'UPSC specific profile'
 
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  
  // Species of interest for UPSC
  genomes {
    'piceaAbies' {
      fasta       = ""
      bwa         = ""
      bowtie2     = ""
      star        = ""
      bismark     = ""
      gtf         = ""
      bed12       = ""
    }
    'poTra' {
      fasta       = "/Users/kbenevides/Documents/ref/v2.2/fasta/Potra02_genome.fasta"
      bwa         = "/Users/kbenevides/Documents/ref/v2.2/indices/bwa"
      bowtie2     = "/Users/kbenevides/Documents/ref/v2.2/indices/bowtie2"
      gff         = "/Users/kbenevides/Documents/ref/v2.2/gff"
    }
  }
}
